<% include include/header.html %>
<div class="col-md-12">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New container
    </button>
    <hr>
</div>
<div class="container-fluid" data-page="containers">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Names</th>
                <th>Image</th>
                <th>Command</th>
                <th>Port</th>
                <th>State</th>
                <th>CPU</th>
                <th>RAM</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <% if(containers){ %>
            <% containers.forEach(function(container,index){ %>
            <tr>
                <td>
                    <%= formatName(container.Names) %>
                </td>
                <td>
                    <%= container.Image %>
                </td>
                <td>
                    <%= container.Command %>
                </td>
                <td>
                    <% container.Ports.forEach(function(item) { %>
                    <%-`${item["IP"]}:${item["PublicPort"]}->${item["PrivatePort"]}/${item["Type"]}<br>`;%>
                    <% });%>
                </td>
                <td>


                    <% if(container.State=='running'){ %>
                    <span class="label label-success btn-xs" title="container status"
                          data-container="body" data-toggle="popover" data-placement="top"
                          data-trigger="hover"
                          data-content="<%=container.Status%>"><%= container.State %></span>
                    <% } %>
                    <% if(container.State=='exited'){ %>
                    <span class="label label-danger btn-xs" title="container status"
                          data-container="body" data-toggle="popover" data-placement="top"
                          data-trigger="hover"
                          data-content="<%=container.Status%>"><%= container.State %></span>
                    <% } %>
                    <% if(container.State=='created'){ %>
                    <span class="label label-warning btn-xs" title="container status"
                          data-container="body" data-toggle="popover" data-placement="top"
                          data-trigger="hover"
                          data-content="<%=container.Status%>"><%= container.State %></span>
                    <% } %>
                </td>
                <td class="container-cpu" container-id="<%= container.Id %>">No data</td>
                <td class="container-ram" container-id="<%= container.Id %>">No data</td>

                <td>
                    <% if(container.State=='running'){ %>

                    <% if(!(container.Image.includes("qfdk")||container.Image.includes("easy-docker-web"))){ %>
                    <a class="btn btn-warning btn-xs"
                       data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i> Waiting..."
                       href="/containers/stop/<%= container.Id %>">
                        <span class="glyphicon glyphicon-stop"></span> Stop
                    </a>
                    <% } %>
                    <a class="btn btn-primary btn-xs"
                       data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i> Waiting..."
                       href="/containers/console/<%= container.Id %>">
                        <span class="glyphicon glyphicon-console"></span> Console
                    </a>
                    <% } %>
                    <% if(container.State=='exited'){ %>
                    <a class="btn btn-success btn-xs"
                       data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i> Waiting..."
                       href="/containers/start/<%= container.Id %>">
                        <span class="glyphicon glyphicon-play"></span> Start
                    </a>
                    <a class="btn btn-danger btn-xs"
                       data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i> Waiting..."
                       href="/containers/remove/<%= container.Id %>">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                    </a>
                    <% } %>
                    <% if(container.State=='created'){ %>
                    <a class="btn btn-danger btn-xs"
                       data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i> Waiting..."
                       href="/containers/remove/<%= container.Id %>">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                    </a>
                    <% } %>
                    <a class="btn btn-info btn-xs"
                       data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i> Waiting..."
                       href="/containers/logs/<%= container.Id %>">
                        <span class="glyphicon glyphicon-comment"></span> Logs
                    </a>

                    <button id="inspect-button"
                            type="button" class="btn btn-info btn-xs" onclick="inspectContainer('<%=container.Id%>')">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> Inspect
                    </button>


                </td>
            </tr>
            <% }) %>

            <% } %>
            </tbody>
        </table>

    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">New container</h4>
            </div>
            <form action="/containers/create" method="POST" role="form">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="containerImage">Image: </label>
                        <select id="containerImage" name="containerImage" class="selectpicker" data-live-search="true"
                                title="Please select an image ...">
                            <option class="bs-title-option" value="">Please select an image ...</option>
                            <% if(images){ %>
                            <% images.forEach(function(image,index){ %>
                            <% if (index===0) {%>
                            <option selected="true"><%= image.RepoTags %></option>
                            <%} else {%>
                            <option><%= image.RepoTags %></option>
                            <% }}) %>
                            <% } %>
                        </select>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" placeholder="Container name" class="form-control" name="containerName"
                                   id="containerName">
                        </div>

                        <div class="col-md-6">
                            <label>
                                <input type="checkbox"
                                       name="isAlways" id="isAlways" checked> Always restart(on-failure)
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="containerVolumeSource">Volume: </label>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="Container" class="form-control"
                                       name="containerVolumeSource"
                                       id="containerVolumeSource">
                            </div>
                            <div class="col-md-6">
                                <input type="text" placeholder="Host" class="form-control"
                                       name="containerVolumeDistination" id="containerVolumeDistination">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="containerPortSource">Expose port (both TCP and UDP): </label>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="Container" class="form-control"
                                       name="containerPortSource"
                                       id="containerPortSource">
                            </div>
                            <div class="col-md-6">
                                <input type="text" placeholder="Host" class="form-control"
                                       name="containerPortDistination" id="containerPortDistination">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="containerCmd">Cmd: </label>
                        <input type="text" class="form-control" name="containerCmd" id="containerCmd">
                    </div>
                    <div class="form-group">
                        <label for="containerCmd">memory(include swap and RAM, in megabytes): </label>
                        <input type="text" class="form-control" name="containerMem" id="containerMem">
                    </div>
                    <div class="form-group">
                        <label for="containerCmd">CPU limit(1 refers to one core while 0.5 refers to half a
                            core): </label>
                        <input type="text" class="form-control" name="containerCPU" id="containerCPU">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="create" type="submit"
                            data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i> Waiting..."
                            class="btn btn-primary">Confirm
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="inspectModal" tabindex="-1" role="dialog" aria-labelledby="inspectModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="inspectModalLabel">
                    容器状态
                </h4>
            </div>
            <div class="modal-body">
                <pre class="pre-scrollable" id="inspectResult">abcd</pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<% include include/footer.html %>
